@import '~antd/es/style/themes/default.less';
@import './utils/utils.less';



.listMemoItem {
  :global {
    position: relative;

    .ce {
      position: absolute;
      right: 0;
      z-index: 1;
      cursor: pointer;
      border-left: 1px solid gainsboro;
      border-bottom: 1px solid gainsboro;
      border-bottom-left-radius: 5px;
      width: 60px;
      height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    // pointer-events:none
    }
  }
}

/* 将内容块重排为4列 */
.listMemoItem:nth-of-type(4n+1) { order: 1; }
.listMemoItem:nth-of-type(4n+2) { order: 2; }
.listMemoItem:nth-of-type(4n+3) { order: 3; }
.listMemoItem:nth-of-type(4n)   { order: 4; }